SATIS_NAME=middag/satis
SATIS_URL=https://satis.middag.com.br
SATIS_BASEDIR='/opt/moodle-plugin-repo'
SATIS_OUTPUTDIR=''
REPO_BRANCH='master'
PHP_BIN='/usr/bin/php'
# on MacOS:
# PHP_BIN='/opt/homebrew/opt/php@8.x/bin/php'
